<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RPSSL</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="main">
      <h1 class="heading text-white text-center mt-4">
        <% if(player1.score > player2.score) { %> <%= player1.name %> is the
        winner! <% } else { %> <%= player2.name %> is the winner! <% } %>
      </h1>

      <div class="d-flex justify-content-center">
        <div class="winbox">
          <h2 class="text-white text-center">
            <% if(player1.score > player2.score) { %> Sorry <%= player2.name %>,
            you'll get 'em next time... <% } else { %> Sorry <%= player1.name
            %>, you'll get 'em next time... <% } %>
          </h2>
          <h2 class="text-white text-center mt-1">
            Final battle: <% if(player1.score > player2.score) { %> <%=
            player1.name %>'s <%= player1.weapon %> beat <%= player2.name %>'s
            <%= player2.weapon %> <% } else { %> <%= player2.name %>'s <%=
            player2.weapon %> beat <%= player1.name %>'s <%= player1.weapon %>
            <% } %>
          </h2>
          <h2 class="text-white text-center mt-1">
            Final score: <%= player1.score %> to <%= player2.score %>
          </h2>
        </div>
      </div>

      <form class="text-center mt-4" action="/" method="get">
        <input id="index-link" type="submit" value="Play again?" />
      </form>
    </div>

    <footer class="container fixed-bottom text-center text-white pt-2">
      <p>
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Max Blaschek. All Rights Reserved.
      </p>
    </footer>
  </body>
</html>
